{% extends "base.html" %}

{% block content %}
<div class="min-h-screen bg-gray-100 flex flex-col items-center py-10">
  <h1 class="text-4xl font-extrabold text-gray-800 mb-8">Pokedex Home</h1>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 w-full max-w-6xl">

    <a href="{% url 'pokemons:poke-search' %}" class="bg-white shadow-lg rounded-2xl p-6 text-center hover:bg-gray-50 transition">
      <p class="text-gray-800 font-semibold text-lg">Pokémons</p>
    </a>

    <a href="{% url 'pokemons:poke-search' %}" class="bg-white shadow-lg rounded-2xl p-6 text-center hover:bg-gray-50 transition">
      <p class="text-gray-800 font-semibold text-lg">Moves (WIP)</p>
    </a>

    <a href="{% url 'poke_types:types-search' %}" class="bg-white shadow-lg rounded-2xl p-6 text-center hover:bg-gray-50 transition">
      <p class="text-gray-800 font-semibold text-lg">Types</p>
    </a>

    <a href="{% url 'pokemons:poke-search' %}" class="bg-white shadow-lg rounded-2xl p-6 text-center hover:bg-gray-50 transition">
      <p class="text-gray-800 font-semibold text-lg">Locations (WIP)</p>
    </a>

    <a href="{% url 'pokemons:poke-search' %}" class="bg-white shadow-lg rounded-2xl p-6 text-center hover:bg-gray-50 transition">
      <p class="text-gray-800 font-semibold text-lg">Items (WIP)</p>
    </a>

    <a href="{% url 'pokemons:poke-search' %}" class="bg-white shadow-lg rounded-2xl p-6 text-center hover:bg-gray-50 transition">
      <p class="text-gray-800 font-semibold text-lg">Berries (WIP)</p>
    </a>

  </div>

</div>
{% endblock content %}
