# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
*.egg
*.log

# Virtual environment
venv/
ENV/
env/
.venv/

# Django
*.sqlite3
db.sqlite3
/media
/staticfiles
/static
*.pot
*.mo

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Pytest / Coverage
.coverage
coverage.xml
htmlcov/
.pytest_cache/
