<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8">
  
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >
  <!--<link href="{% static 'dist/styles.css' %}" rel="stylesheet">-->
  <title>
    {% block title %}Poke API{% endblock %}
  </title>
</head>

<body class="bg-gray-100 h-screen flex overflow-hidden">

  {% if user.is_authenticated %}
    <aside class="w-34 bg-white shadow-lg rounded-r-2xl p-6 flex-shrink-0">
      {% block sidebar %}
      <nav class="space-y-4">
        <a href="/" class="block text-gray-800 font-semibold hover:text-red-500 transition">Home</a>
        <a href="{% url 'pokedex:poke-home' %}" class="block text-gray-800 font-semibold hover:text-red-500 transition">Pokedex</a>
      </nav>
      {% endblock %}
    </aside>
  {% endif %}

  <main class="flex-1 p-8">
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
  </main>

</body>
</html>
